.container{
  width: 100%;
}
.contentContainer{
  max-width: 1000px;
  margin: 0 auto;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--p-md) 0;
  text-align: center;
  color: #F7C649;
  height: calc(100vh - 52px);
}
.heroBackground {
  border-top-left-radius: var(--rounded-md);
  border-top-right-radius: var(--rounded-md);
  filter: grayscale(100%) brightness(0.7) contrast(1.2);
  overflow: hidden;
  width:calc(100% - 2rem); 
  height: 100%;
  margin: 0 var(--p-md);
  object-fit: cover;
  position: absolute;
  top: 54px;
  z-index: -1;
}


.RocketDetails{
  display: flex;
  justify-content: space-between;
}
.description {
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
  margin-top: var(--m-xl);
  margin-bottom: var(--m-xl);
}

/* .specsContainer{

} */
.description > tr {
  margin-bottom: 1px solid var(--white);
}
.details {
  margin-top: 108px;
  margin-left: var(--m-3xl);
  margin-right: var(--m-3xl);
}
.image{
  filter: grayscale(100%) brightness(0.7) contrast(1.2);
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9; 
  background-position: center;
}
