.container {
  max-width: 1440px;
  margin: 0 auto;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  text-align: center;
  color: #F7C649;
  height: calc(100vh - 52px);
}
.hero > * {
  max-width: 70%;
}
.heroBackground {
  filter: grayscale(100%) brightness(0.7) contrast(1.2);
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}


.RocketDetails{
  display: flex;
  justify-content: space-between;
  max-width: 70%;
}
.description {
  display: flex;
  justify-content: left;
  flex-direction: column;
  max-width: 80%;
  text-align: left;
  margin-top: var(--m-xl);
}
.description > tr {
  margin-bottom: 1px solid var(--white);
}
.details {
  margin-left: var(--m-3xl);
  margin-right: var(--m-3xl);
}
.image{
  filter: grayscale(100%) brightness(0.7) contrast(1.2);
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
}