.container {
  padding: 0 var(--p-md);
}

.hero {
  height: calc(100vh - var(--nav-height));
  background-color: var(--white);
  color: var(--yellow);
  border-top-left-radius: var(--rounded-md);
  border-top-right-radius: var(--rounded-md);
  overflow: hidden;
  user-select: none;
  position: relative;
}

.hero h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  font-weight: 400;
}

.hero h5 {
  color: var(--black);
  font-size: 0.8rem;
  font-weight: 500;
}

.head {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-sm);
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: fade-in ease forwards 2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .hero h1 {
    font-size: 3.5rem;
    line-height: 3.75rem;
  }

  .hero h5 {
    font-size: 1.2rem;
  }
}

@media (min-width: 880px) {
  .hero h1 {
    font-size: 4.5rem;
    line-height: 4.75rem;
  }

  .hero h5 {
    font-size: 1.3rem;
  }

  .hero {
    gap: var(--gap-lg);
  }
}

@media (min-width: 1130px) {
  .hero h1 {
    font-size: 5.5rem;
    line-height: 5.75rem;
  }

  .hero h5 {
    font-size: 1.3rem;
  }
}
