.nav {
  position: relative;
  width: 100%;
}

.header {
  z-index: 100;
  position: sticky;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  width: 100%;
  padding: var(--p-md);
}

.logo {
  height: calc(var(--nav-height) - 2rem);
  width: fit-content;
}

.side {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 12;
  height: 100vh;
  transition: all 0.4s;
}

.closeSide {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  transition: opacity 0.4s;
  backdrop-filter: blur(2px);
}

.background {
  position: relative;
  width: 800px;
  height: 100vh;
  background-color: var(--black);
  transition: all 0.4s;
}

.skew {
  animation: skew 0.4s forwards;
}

@keyframes skew {
  0% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(4deg);
  }
  100% {
    transform: skew(0deg);
  }
}

.verticle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding: var(--p-md);
  padding-top: var(--p-3xl);
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0;
  transition: ease 0.4s;
}

.show {
  transition: ease 0.4s 0.2s;
  opacity: 1;
}

.side a {
  text-align: end;
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(30, 30, 30);
  border-top: 1px solid rgb(30, 30, 30);
  padding: var(--p-sm) 0;
}

@media (min-width: 760px) {
  .nav {
    display: flex;
    gap: var(--gap-xl);
    padding: var(--p-md);
  }

  .header {
    height: calc(var(--nav-height) - 2rem);
    position: static;
    padding: 0;
  }

  .horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);
    flex-grow: 1;
    padding: 0;
    padding-right: var(--p-md);
    text-transform: uppercase;
  }
}
